@page "/setting"

<div class="flex flex-col">
	<div class="w-full shadow-lg rounded-lg border-2">
		<div class="m-5">
			<div class="ml-20px">配置库设置</div>
			<FluentCard Class="flex flex-row shadow-none rounded-none border-0">
				<div class="basis-1/4">
					<FluentTextField Class="" Label="IP 地址"></FluentTextField>
				</div>
				<div class="basis-1/4">
					<FluentTextField Label="端口"></FluentTextField>
				</div>
				<div class="basis-1/4">
					<FluentTextField Label="账号"></FluentTextField>
				</div>
				<div class="basis-1/4">
					<FluentTextField Label="密码" TextFieldType="TextFieldType.Password"></FluentTextField>
				</div>
			</FluentCard>
		</div>
	</div>
	<div class="w-full shadow-lg  rounded-lg border-2">
		<div class="m-5">
			<div class="ml-20px">数据库设置</div>
			<FluentCard Class="flex flex-row shadow-none rounded-none border-0">
				<div class="basis-1/4">
					<FluentTextField Class="" Label="IP 地址"></FluentTextField>
				</div>
				<div class="basis-1/4">
					<FluentTextField Label="端口"></FluentTextField>
				</div>
				<div class="basis-1/4">
					<FluentTextField Label="账号"></FluentTextField>
				</div>
				<div class="basis-1/4">
					<FluentTextField Label="密码" TextFieldType="TextFieldType.Password"></FluentTextField>
				</div>
			</FluentCard>
		</div>
	</div>
</div>